/* Styling Only Related To ALL Pages */


@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Fondamento:ital@0;1&family=Limelight&family=Macondo+Swash+Caps&display=swap');

h1{
      font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: bold;
}

  p{  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

li{  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(86, 223, 178);}



body{
background-color: rgb(213, 231, 181);
  padding-top: 30px;
  margin-left: 0px;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(110, 26, 55);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(213, 231, 181);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(174, 36, 72);
  color:bisque;
}

.active {
  background-color: rgb(114, 186, 169);
  color: rgb(110, 26, 55);
}


h1 {
  
    width: 800px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}



@keyframes typing {
  from { width: 0 }
  to { width: 800px}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(213, 231, 181) }
}
